{% extends 'Main/base.html' %}

{% block title %} Empleados {% endblock title %}    

{% block content_title %}
    Lista de empleados registrados                
{% endblock content_title %}

{% block content %}
    <ul class="list-group">
    {% for empleado in empleados %}
        <li class="list-group-item d-flex justify-content-between align-items-center border rounded shadow-sm mb-3">
            <div class="me-auto">
                <h5 class="mb-1">Nombre: {{ empleado.nombre }}</h5>
                <p class="mb-1">Edad: {{ empleado.edad }}</p>
                <p class="mb-1">Observaciones: {{ empleado.observaciones|default:"Sin observaciones" }}</p>
                <p class="mb-1">Horario de Trabajo: {{ empleado.horario_de_trabajo }}</p>
            </div>
            <div class="d-flex justify-content-center">
                <div class="btn-group">
                    <a href="{% url 'restaurante:empleado_detail' empleado.id %}" class="btn btn-info btn-sm">Detalles</a>
                    <a href="{% url 'restaurante:empleado_form' empleado.id %}" class="btn btn-warning btn-sm">Actualizar</a>
                    <a href="{% url 'restaurante:empleado_confirm_delete' empleado.id %}" class="btn btn-danger btn-sm">Borrar</a>
                </div>
            </div>
        </li>   
    {% endfor %}
    </ul>    

    <div class="mt-4">
        <a href="{% url 'restaurante:empleado_form' %}" class="btn btn-success">Crear Nuevo Empleado</a>
    </div>
{% endblock content %}