{% extends 'Main/base.html' %}

{% block title %} Gerentes {% endblock title %}    

{% block content_title %}
    Lista de gerentes registrados                
{% endblock content_title %}

{% block content %}
    <ul class="list-group">
        {% for gerente in gerentes %}
        <li class="list-group-item d-flex justify-content-between align-items-center border rounded shadow-sm mb-3">
            <div class="me-auto">
                <h5 class="mb-1">Nombre: {{ gerente.nombre }}</h5>
                <p class="mb-1">Edad: {{ gerente.edad }}</p>
                <p class="mb-1">Observaciones: {{ gerente.observaciones|default:"Sin observaciones" }}</p>
            </div>
            <div class="btn-group">
                <a href="{% url 'restaurante:gerente_detail' gerente.id %}" class="btn btn-info btn-sm">Detalles</a>
                <a href="{% url 'restaurante:gerente_form' gerente.id %}" class="btn btn-warning btn-sm">Actualizar</a>
                <a href="{% url 'restaurante:gerente_confirm_delete' gerente.id %}" class="btn btn-danger btn-sm">Borrar</a>
            </div>
        </li>    
    {% endfor %}
    </ul>
    <div class="mt-4">
        <a href="{% url 'restaurante:gerente_form' %}" class="btn btn-success">Crear Nuevo Gerente</a>
    </div>    
{% endblock content %}