{% extends 'Main/base.html' %}
{% load static %}

{% block title %}
    Sobre mí
{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card text-center shadow-sm">
                    <div class="card-body">
                        <img src="{% static 'Main/FotoCV.png' %}" alt="foto de perfil" class="img-fluid rounded-circle border" style="height: 150px; width: 150px;">
                        <h1 class="card-title mt-3">Acerca de mí</h1>
                        <p class="card-text">Soy Andy Garcia, un apasionado programador.</p>
                        <a href="https://www.linkedin.com/in/andy-garcia-programador/" target="_blank" class="btn btn-primary">Visita mi LinkedIn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}